.env
.env.development
/dist
/node_modules
/coverage
*.tsbuildinfo
.husky/_/

.DS_Store

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

coverage/
test-report.xml
coverage.json
jest.json
.eslintcache

ignore/
ignore/*.sh
run-solana-metrics.sh
